@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    color: #F9FAF8;
    align-items: center;
    justify-content: space-between;
    padding: 26px;
    margin: 0;
}

.header-logo {
    font-size: 24px;
    font-weight: bolder;
    display: flex;
    margin-left: 26px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.header-contents {
    gap: 16px;
    padding-right: 26px;
}

/* END OF HEADER */

.landing-page-1 {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    flex-direction: column;
}

.text-1 {
    display: flex;
    background-color: #1F2937;
    padding: 50px;
    margin: 0;
}

.h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
}

img {
    max-width: 40%;
    max-height: 40%;
}

.LP1-Button {
    background-color: #3882F6;
    padding: 8px 24px;
    border: none;
    border-radius: 18px;
    font-size: 16px;
    color: #E5E7EB;
    font-weight: bold;
}

/* END OF HERO */

.landing-page-2 {
    display: flex;
    background-color: #F9FAF8;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.h2 {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    padding-top: 20px;
}

.subtext-2 img {
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 15%;
}

.container-2 {
    display: flex;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}

.group {
    padding: 40px;
}

.subtext-p {
    text-align: center;
}

/*END OF LANDING PAGE 2*/

.landing-page-3 {
    background-color: #E5E7EB;
    padding: 50px;

}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 100px;
    justify-content: center;
}

.author {
    font-weight: bold;
    font-size: 30px;
    text-align: right;
    padding: 10px 10px 0 0;
}
/* TESTIMONY SECTION COMPLETED */

.landing-page-4 {
    display: flex;
    background-color: #F9FAF8 ;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.blue-background {
    display: flex;
    background-color: #3882F6;
    padding: 50px;
    border-radius: 10px;
}

.h4 {
    font-weight: bold;
    color:#F9FAF8;
    font-size: 26px;
}

.subtext-4 {
    font-weight: normal;
    padding-right: 50px;
    font-size: 16px;
}

.button-LP4 {
    background-color: #3882F6;
    padding: 0 50px 0 50px;
    border: none;
    border-radius: 9px;
    font-size: 20px;
    color: #F9FAF8;
    border-color: #F9FAF8;
    border-style: solid;
    font-weight: bold;
    border-width: 2px;
    text-align: center;
}

footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    padding: 30px;
    color: #F9FAF8;
}